@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style start here  */
:root {
  --border: 1px solid red;
  --bg-primary: rgba(255, 144, 14, 0.1);
  --cl-primary: rgb(19, 19, 19);
}
.btn-primary {
  padding: 18px 22px;
  border-radius: 8px;
  background: rgb(255, 144, 14);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
}
.btn-primary:hover {
  background-color: rgb(213, 116, 4);
}

body {
  max-width: 1536px;
  font-family: "Work Sans", sans-serif;
}

/* header style start here  */
#header {
  max-width: 1536px;
  min-height: 100dvh;
  background: var(--bg-primary);
}
.header-section {
  max-width: 1280px;
  padding: 50px 0;
  margin: 0 auto 50px;
}
#header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .navbar .brand {
  color: var(--cl-primary);
  font-size: 3rem;
  font-weight: 700;
  line-height: 53px;
}
.navbar .fa {
  display: none;
}
.nav-links ul {
  display: flex;
  gap: 60px;
}
.nav-links li {
  list-style-type: none;
  position: relative;
}
.nav-links li a {
  color: rgb(66, 66, 66);
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
/* hero section style start here  */
.hero-content {
  max-width: 860px;
  height: 320px;
  text-align: center;
  margin: 110px auto 50px;
}
.hero-content .hero-title {
  color: var(--cl-primary);
  font-size: 4rem;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 30px;
}
.hero-content .hero-desc {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}
.hero-image img {
  width: 100%;
  border-radius: 8px;
}
/* our feature section style start here  */
#our-feature {
  max-width: 1280px;
  display: flex;
  margin: 0 auto 130px;
}
#our-feature .our-feature-images {
  width: 50%;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}
#our-feature .our-feature-content {
  width: 40%;
  height: 304px;
  margin: 210px 0 0 120px;
}
#our-feature .our-feature-content > h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 53px;
  margin-bottom: 24px;
}
#our-feature .our-feature-content > p {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
/* our feature section style end here  */

/* features section style start here */
#features {
  max-width: 1280px;
  min-height: 100dvh;
  margin: 0 auto 75px;
  gap: 90px;
  display: flex;
}
.features-content > h1 {
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 700;
  line-height: 53px;
  padding-top: 40px;
}
.features-content > p {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin: 35px 0;
}
.features-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.features-items .features-item {
  padding: 30px 35px;
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.1);
}
.features-items .features-item > h4 {
  color: rgb(19, 19, 19);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.features-items .features-item > p {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
}
.features-image > img {
  width: 100%;
}
.features-image > button {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  padding: 45px 42px;
  border: none;
  line-height: 30px;
  margin: -60px 0 0 -45px;
  border-radius: 8px;
  background-color: rgb(255, 144, 14);
}
/* some-facts section style start here  */

#some-facts {
  max-width: 1280px;
  min-height: 500px;
  margin: 130px auto 150px;
}
#some-facts .some-facts-content {
  margin-bottom: 80px;
}
#some-facts .some-facts-content > h3 {
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
#some-facts .some-facts-content > p {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.some-facts-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  margin-left: 50px;
}
.some-facts-items .some-facts-item {
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgb(255, 144, 14);
}
.some-facts-items .some-facts-item > h5 {
  color: rgb(66, 66, 66);
  font-size: 2.8rem;
  font-weight: 600;
}
.some-facts-items .some-facts-item > p {
  color: rgb(114, 114, 114);
  font-size: 1.25rem;
  font-weight: 600;
}
/* our-sponsors section */
#our-sponsors {
  max-width: 1280px;
  min-height: 300px;
  margin: 0 auto;
}
#our-sponsors .our-sponsors-content {
  text-align: center;
}
#our-sponsors .our-sponsors-content > h3 {
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
}
#our-sponsors .our-sponsors-content > p {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  gap: 120px;
}
.sponsor-companies img {
  width: 150px;
  height: 50px;
  padding: 5px;
  border: 1px dotted rgb(169, 167, 167);
  filter: grayscale(100%);
}
footer {
  max-width: 1536px;
  min-height: 100px;
  margin: 70px auto 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 244, 231);
}
footer p {
  color: rgb(66, 66, 66);
  font-size: 1.25rem;
  margin: 0 auto;
  font-weight: 400;
}
/* Responsive media queries */

@media screen and (max-width: 576px) {
  .hero-content {
    height: auto;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links ul {
    display: flex;
    margin: 20px 0 0 10px;
    gap: 20px;
    flex-direction: column;
  }
  .nav-links {
    position: absolute;
    background: rgb(213, 116, 4);
    width: 200px;
    height: 100vh;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav-links ul li a {
    color: #fff;
  }
  .navbar .fa {
    display: block;
    color: #2a2d28;
    margin: 10px;
    font-size: 1.25rem;
    cursor: pointer;
  }
  #our-feature,
  #some-facts,
  #our-sponsors,
  .sponsor-companies {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  #some-facts,
  #our-sponsors,
  .sponsor-companies{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #our-feature .our-feature-images,
  .some-facts-items {
    grid-template-columns: 1fr;
  }
/* #our-feature .our-feature-images{
    margin: 50px;
} */
  #our-feature .our-feature-content {
    width: 80%;
    text-align: center;
    margin: 50px auto;
  }
  #features {
    width: 90%;
    flex-direction: column;
  }
  .features-image > button {
    margin: 50px 0 0 30px;
  }
  .sponsor-companies {
    gap: 60px;
  }
  .sponsor-companies img {
    width: 70%;
  }
  footer{
    width: 100%;
  }
  footer > p{
    font-size: 0.7rem;
  }
}
